%h2 Add/Edit Review

%div.container-fluid
  %div.row
    %div.col-xs-4
      %h1= @book.title
      %h3 
        by #{ @book.author.full_name }
    %div.col-xs-8
      - @reviews.each do |r|
        %div.col-xs-12.padded
          = r.review_text
          .bold 
            \- #{r.user.alias}
            - if current_user === r.user
              = link_to 'Edit Review', edit_review_path(r)
          
  %form-group.row
    = simple_form_for @review do |review|
      - if @review.errors.any? || @book.errors.any?
        - pluralize(@review.errors.count, 'error')
        %ul
          - @review.errors.full_messages.each do |msg|
            %li= msg
          - @book.errors.full_messages.each do |msg|
            %li= msg
            
      %div.col-xs-12
        %h3
          .form-group.row
            = review.label :review_text, 'Enter Your Review'
            = review.text_area :review_text, { class: 'form-control' }
        
      = review.hidden_field :user_id, value: current_user.id
      = review.hidden_field :book_id, value: @book.id
      
      .form-actions
        = review.submit 'Submit'