%h1 Books Index
%table.table.table-responsiveness.table-striped.table-bordered.table-hover
  %thead
    %th Title
    %th Author
    %th Entered By
    %th{ colspan:'2' }Action(s)
  %tbody
    - @books.each do |book|
      %tr
        %td= link_to book.title, edit_book_path(book)
        %td= book.author.full_name
        %td= book.user.alias
        %td= link_to 'Edit', edit_book_path( book )
        %td= link_to 'Delete', book, method: :delete, data: { confirm: 'Certain you wanna do this?' }
      
= link_to 'Add New Book and Review', new_review_path