%h1 Edit Review

= simple_form_for @review do |review|
  - if @review.errors.any? || @review.book.errors.any? || @review.book.author.errors.any?
    - pluralize(@review.errors.count, 'error')
    %ul
      - @review.errors.full_messages.each do |msg|
        %li= msg
        
  .form-group.row
    = review.label :review_text, 'Type Review'
    = review.text_area :review_text, { class: 'form-control' }
    
  .form-actions
    = review.submit 'Submit'
    |
  
  = link_to 'Delete Review', review_path, method: :delete, data: { confirm: 'Sure? Kill it? Positive?' }
    
  = link_to 'Back', books_path 
